<div class="container_footer">
  <div class="footer_links">
    <a href="https://www.facebook.com/" target="_blank"
      ><img src="assets/img/facebook.png" alt="Facebook Logo"
    /></a>
    <a
      href="https://ingetecce.github.io/LineaEtica/"
      target="_blank"
      class="linea_etica"
      ><img src="assets/img/linea_etica.png" alt="Línea Ética Logo"
    /></a>
  </div>
  <p>Todos los derechos reservados.</p>
  <button class="scrollToTopButton" (click)="scrollToTop()">↑</button>
</div>
