<div class="nosotros__container container__general">
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta reiciendis nihil veritatis laborum nesciunt sapiente? Praesentium quae adipisci quisquam qui nobis ea libero alias dolorem. Inventore laboriosam adipisci corrupti dignissimos.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatibus, corrupti, aut cupiditate deleniti ea maiores vel reprehenderit quo dicta aperiam porro dolores numquam dolorem a! Illum numquam mollitia ex.lore
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt labore, itaque debitis ipsam magnam odio. Deserunt illum facilis cum tempora tenetur molestias reiciendis ex excepturi dignissimos, quis enim, suscipit veniam!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo accusamus ea voluptatum. Error vero aspernatur accusantium sequi, autem similique id vel. Similique, dignissimos! Quod rem impedit maiores quis autem quas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia corporis veniam modi doloribus ipsum deserunt, harum vel facilis cumque rerum possimus tempora doloremque eos in accusantium, tenetur esse quisquam suscipit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, saepe neque quia aliquid quas reprehenderit labore? Officiis rem nulla accusantium laborum rerum enim iste iure deserunt. Sint qui blanditiis dignissimos?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ea accusamus reprehenderit, hic, quae quos velit, ratione recusandae suscipit veritatis quod nulla ab deleniti ipsam nihil nemo omnis! Placeat, officiis?
  </h1>
</div>
