.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: #626060c3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}
.navbar__toggler {
  display: none;
  width: 50px;
  height: auto;
  font-size: 30px;
  border: none;
  background: none;
  border-radius: 5px;
  box-sizing: content-box;
  transition: all 1s;
  color: #ffffff;
}
.navbar__toggler:hover {
  /* box-sizing: content-box; */
  scale: 1.01;
  color: var(--white-color);
  /* border: 2px solid var(--white-color); */
  border-radius: 5px;
}
.navbar__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar__brand {
  width: 150px;
  left: 7rem;
  position: absolute;
}
.navbar__options {
  width: 100%;
  height: 10px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  /* background: var(--primary-color); */
}
.nav__item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  /* transition: all 1.2s; */
}
.nav__link {
  padding: 0 10px;
  font-style: italic;
  font-weight: bolder;
  color: var(--white-color);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.nav__link:hover {
  scale: 1.02;
  font-weight: bold;
}
.navbar__collapse {
  display: none;
  width: 100%;
  /* background: var(--primary-color); */
}
.navbar__collapse .nav__item {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .navbar__toggler {
    display: block;
  }
  .navbar__collapse {
    display: block;
    background-color: #191888b8;
  }
  .navbar__options {
    display: none;
  }
  .hide {
    display: none;
  }
}
