<app-cover [imgCover]='imgCover' [altCover]='altCover' ></app-cover>

<div class="linea__container container__general--secondary">
  <div class="proyecto__container">
    <div class="bar__left">
      <div
        [ngClass]="{'bar__item': 1 !== selectedItem, 'bar__item--selected': 1 === selectedItem}"
        (click)="changeClass(1)"
      >
        <img src="assets\img\arrow-right.svg" alt="">
        <p>ENERGIA</p>
      </div>
      <div
        [ngClass]="{'bar__item': 2 !== selectedItem, 'bar__item--selected': 2 === selectedItem}"
        (click)="changeClass(2)"
      >
        <img src="assets\img\arrow-right.svg" alt="">
        <p>INFRAESTRUCTURA</p>
      </div>
      <div
        [ngClass]="{'bar__item': 3 !== selectedItem, 'bar__item--selected': 3 === selectedItem}"
        (click)="changeClass(3)"
      >
        <img src="assets\img\arrow-right.svg" alt="">
        <p>TELECOMUNICACIONES</p>
      </div>
    </div>
    <div class="contenedor__card">

      <div class="proyecto__card" *ngFor="let item of currentProyectos">
        <div class="proyecto__card--img">
          <img [src]='item.img' alt="">
        </div>
        <div class="proyecto__card--content">
          <p class="proyecto__card--title"> {{item.titulo}} </p>
        </div>
      </div>
    </div>

  </div>
</div>

