.carousel_ {
  position: relative;
  width: 100%;
  /* height: 25rem; */
  /* overflow: hidden; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 50%;
  // height: 40rem;
}

.images {
  position: relative;
  width: 100%; /* Ancho total del pentágono */
  // height: 60vh; /* Altura total del pentágono */
  display: flex;
  justify-content: center;
  align-items: center;
}

.images img {
  width: 15vw; /* Ancho de cada imagen */
  height: 10vw; /* Altura de cada imagen */
  max-width: 100%;
  object-fit: cover;
  margin: 0 1vw; /* Espaciado entre las imágenes */
  transition: transform 0.3s;
  // position: absolute;
  opacity: 0.8;
}
.images img:hover {
  // animation: slide-up 1s ease-out forwards;
  transform: scale(
    1.5
  ); // Escala la imagen al 110% cuando el cursor está sobre ella
}

@media (max-width: 920px) {
  .images {
    position: relative;
    // height: 30vh;
  }

  .images img {
    opacity: 1;
  }
}
