<div class="linea__container container__general">
  <div class="container__hexagon">

    <div class="hexagon">
      <div class="hexagon-inner">
        <div class="border"></div>
      </div>
    </div>

    <div class="hexagon">
      <div class="hexagon-inner">
        <div class="border"></div>
      </div>
    </div>

    <div class="hexagon">
      <div class="hexagon-inner">
        <div class="border"></div>
      </div>
    </div>
  </div>
  <img src="https://www.infobae.com/new-resizer/n2U2sybM4AdtM5r1FVQG-o146lU=/arc-anglerfish-arc2-prod-infobae/public/M3LN7DG7YJCBXGD5VZWYQAO5LA.jpg" alt="">
</div>
