<div class="linea__container container__general--secondary">
  <div class="container__hexagon">

    <div class="hexagon" (click)="scrollToSection('seccion1')">
      <div class="hexagon__inner">
        <div class="hexagon__border">
          <p>
            LINEA 01
          </p>
        </div>
      </div>
    </div>

    <div class="hexagon" (click)="scrollToSection('seccion2')">
      <div class="hexagon__inner">
        <div class="hexagon__border">
          <p>
            LINEA 02
          </p>
      </div>
      </div>
    </div>

    <div class="hexagon" (click)="scrollToSection('seccion3')">
      <div class="hexagon__inner">
        <div class="hexagon__border">
          <p>
            LINEA 03
          </p>
        </div>
      </div>
    </div>
  </div>

  <img src="https://www.infobae.com/new-resizer/n2U2sybM4AdtM5r1FVQG-o146lU=/arc-anglerfish-arc2-prod-infobae/public/M3LN7DG7YJCBXGD5VZWYQAO5LA.jpg" alt="">
</div>
<div id="seccion1" class="linea__container-option container__general--secondary" #seccion1Ref>
  <div class="linea__description">
    <div class="hexagon">
      <div class="hexagon__inner">
        <div class="hexagon__border">
          <p>
            LINEA 01
          </p>
        </div>
      </div>
    </div>
    <div class="linea__text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ducimus alias nam aliquam aspernatur neque nihil omnis in repellendus. Dolore necessitatibus exercitationem laborum sapiente deleniti reiciendis recusandae a libero nobis?</p>
    </div>
  </div>
  <div class="linea__carousel">
    <div class="linea__btn" (click)="prevImage()">
      <img src="assets\img\arrow-right.svg" alt="" style="width:100px; height:100px">
    </div>
    <div class="linea__btn-secundary" (click)="prevImage()">
      <img src="assets\img\arrow-left.svg" alt="" style="width:50px; height:50px"></div>
    <div class="carousel">
      <img [src]="imageSelect" alt="Image" class="carousel__img" />
    </div>
  </div>
</div>
<div id="seccion2" class="linea__container-option container__general--secondary" #seccion2Ref>
  <div class="linea__description">
    <div class="hexagon">
      <div class="hexagon__inner">
        <div class="hexagon__border">
          <p>
            LINEA 02
          </p>
        </div>
      </div>
    </div>
    <div class="linea__text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ducimus alias nam aliquam aspernatur neque nihil omnis in repellendus. Dolore necessitatibus exercitationem laborum sapiente deleniti reiciendis recusandae a libero nobis?</p>
    </div>
  </div>
  <div class="linea__carousel">
    <div class="linea__btn" (click)="prevImage()">
      <img src="assets\img\arrow-right.svg" alt="" style="width:100px; height:100px">
    </div>
    <div class="linea__btn-secundary" (click)="prevImage()">
      <img src="assets\img\arrow-left.svg" alt="" style="width:50px; height:50px"></div>
    <div class="carousel">
      <img [src]="imageSelect" alt="Image" class="carousel__img" />
    </div>
  </div>
</div>
<div id="seccion3" class="linea__container-option container__general--secondary" #seccion3Ref>
  <div class="linea__description">
    <div class="hexagon">
      <div class="hexagon__inner">
        <div class="hexagon__border">
          <p>
            LINEA 03
          </p>
        </div>
      </div>
    </div>
    <div class="linea__text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, ducimus alias nam aliquam aspernatur neque nihil omnis in repellendus. Dolore necessitatibus exercitationem laborum sapiente deleniti reiciendis recusandae a libero nobis?</p>
    </div>
  </div>
  <div class="linea__carousel">
    <div class="linea__btn" (click)="prevImage()">
      <img src="assets\img\arrow-right.svg" alt="" style="width:100px; height:100px">
    </div>
    <div class="linea__btn-secundary" (click)="prevImage()">
      <img src="assets\img\arrow-left.svg" alt="" style="width:50px; height:50px"></div>
    <div class="carousel">
      <img [src]="imageSelect" alt="Image" class="carousel__img" />
    </div>
  </div>
</div>
