.linea__container{
  overflow-x: hidden;
  display: flex;
}
.linea__container img{
  height: 100%; /* Establece la altura de la imagen al 100% del div */
  width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
  object-fit: cover;
}
.container__hexagon{
  width: 100%;
  height: calc(100% - var(--navbar-height));
  position: absolute;
  top: var(--navbar-height);
  left: 0;
  /* z-index: ; */
  display: flex;
  justify-content:  space-evenly;
  align-items: center;
  background: rgba(142, 86, 142, 0.45);
  flex-wrap: wrap;
}
/* HEXAGON STYLES */
.hexagon {
  width: 300px;
  height: 346px;
  position: relative;
  background: transparent;
  margin: 0 50px;
  transition: all 1s;
  z-index: 100;
  /* position: absolute; */
  /* top: 100px; */
}
.hexagon:hover {
  scale: 1.1;
  cursor: pointer;
}
.hexagon__inner {
  width: 100%;
  height: 100%;


  background-size: cover;
  background-position: center;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  /* box-shadow: 4px 4px 4px 4px white;  */

}

.hexagon__border {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  /* background-color: transparent; */
  /* border: 1px solid white; */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hexagon__border p{
  color: var(--white-color);
  font-weight: bolder;
  font-size: 30px;
}

/* LINEA CONTAINER OPTION */
.linea__container-option{
  display: flex;
  margin: 0;
}
.linea__description{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 50px;
  width: 700px;
}
.linea__text{
  position: absolute;
  top: 200px;
  width: 300px;
  height: 450px;
  background: var(--yellow-color);
  display: flex;
  flex-direction: column;
}
.linea__text p:nth-child(1){
  padding: 10px 10px 0px 10px;
  font-weight: bolder;
  margin-top: 150px;
  text-align: center;
}
.linea__text p{
  padding: 0 10px;
  margin: 0;
}
.linea__btn{
  background: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 10px  #00000073 ;
  position: absolute;
  top: 40%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  z-index: 1;
  left: -50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.linea__btn-secundary{
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 10px  #00000073 ;
  position: absolute;
  top: 55%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  z-index: 1;
  left: -30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linea__carousel{
  width: 100%;
  /* overflow: hidden; */
  position: relative;
  background: #a6a6a9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}
.carousel__img{
  width: auto; /* Ancho automático de la imagen */
  height: 100%; /* Altura del div */
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  margin: auto; /* Centrar la imagen */
}
.carousel-item {
  background: #c9e737;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}


@media screen and (max-width: 1240px) {
  .container__hexagon{
    overflow-y: scroll;
  }
}

@media screen and (max-width: 600px) {
  .linea__description{
    width: 100%;
  }
  .linea__carousel{
    display: none;
  }
}
